asttokens==2.2.1
sounddevice==0.4.6
soundfile==0.12.1
asgiref==3.8.1
Django==5.0.3
ffmpeg-python==0.2.0
gunicorn==22.0.0
pydub==0.25.1
pytube==15.0.0
pytz==2024.1
requests==2.32.3
tzdata==2024.1
urllib3==2.2.1
whitenoise==6.7.0
yt-dlp==2024.10.22

