asgiref==3.8.1
asttokens==2.2.1
distlib==0.3.8
Django==5.0.6
gunicorn==23.0.0
pydub==0.25.1
pytube==15.0.0
pytz==2023.3
requests==2.31.0
sounddevice==0.4.6
soundfile==0.12.1
urllib3==2.1.0
whitenoise==6.7.0
